<div style=" display: flex; justify-content: flex-end;">
<div class="adminOrders">
    <div class="cartHead">My orders</div>
    <h6>Welcome to the Dream Portrait upload form:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
    <div class="ordersContent">
        {{# each orders }}
        <div>
            <div class="orderDetailsInProgress">

                <div class="orderPhoto">
                    <h2>
                        New Order
                    </h2>
                    <p>
                        Please click download button
                    </p>
                </div>

                <div class="details">
                    <div id="date">Date: {{ artImageCreatedAt }}</div>
                    <div class="numberOfPeopleOrder">Number of people:  {{ selectedPeople }}</b></div>
                    <div class="backgroundOrder">Background: {{ this.selectedBakcground }}</div>
                    <div class="noteOrder">Note: {{ this.wishesText }}</div>
                    <div class="priceOrder">Price: {{ this.price }}<b></b></div>
            <div class="up-dw-admin-btn">
                    
                    <a style=" background-color: orange; padding: 5px; margin:5px;" type="button" download="{{ this.wishesText }}.jpeg" href="{{ this.imagePath }}">Download</a>
                    <input style=" background-color: #000; color: white" class="image-uploader" data-id="{{ this.id }}" type="file" value="upload">  
                </div>
                </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</div>

        <script>
            var uploadButtons = document.getElementsByClassName("image-uploader");

            for (var button of uploadButtons) {
                button.addEventListener("change", function(event) {
                    var files = event.target.files;
                    var id = event.target.getAttribute('data-id');

                    if (files.length) {
                        var fileReader = new FileReader();

                        fileReader.onload = function(fileLoadedEvent) {
                            var srcData = fileLoadedEvent.target.result;
                            image = srcData;

                            fetch('/admin-page/upload-art-image', {
                                method: 'post',
                                headers: {
                                  'Content-Type': 'application/json;charset=utf-8'
                                },
                                body: JSON.stringify({
                                    image: image,
                                    id: id,
                                    uploadedAt: new Date().toString()
                                })
                            })
                            .then(res => res.json())
                            .then(res => {
                                console.log(res)
                            })
                            .catch(err => {
                                //TODO: check for a ponential errors
                            });
                        }

                        fileReader.readAsDataURL(files[0]);
                    }

                }, false);
            }
        </script>
    </div>

</div>
<hr style="margin-bottom: 10px; border:.5px solid black">
<div class="adminPanel" style="display: flex;">
    <form action="" style="width: 310px;  margin: 50px;">
        <h6>Welcome to the Dream Portrait price changing:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
        <div class="peoplePriceQty" style="display: flex; justify-content: space-between;">
            <div style="width: 150px;">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 1</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 2</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 3</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 4</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 5</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div style="width: 150px">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 6</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 7</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 8</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 9</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 10</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price custom bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price simple bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="button" class="btn btn-dark">Save changing</button>
    </form>
</div>
<hr style="margin-bottom: 10px; border:.5px solid black">
<div class="reviewsAdmin" style="display: flex; padding: 50px">
    <div class="card" style="width: 340px; padding: 10px">
        <img src="images/photoHomePage.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.</p>
                <div>
            <a href="#" class="btn btn-primary" onclick="myFunctionPriceChange()">Go somewhere</a>
        </div>
        </div>
    </div>
</div>

