<style type="text/css">
    .admin-orders-items{
        padding: 5px;
    }
    .admin-headers-for-items{
        display: inline-block; 
        width: 16%;
    }
    .adm-order-item{
        width: 16%;
        display: inline-block;
        border-right: 2px solid grey;
        padding-left: 10px;
        color: grey
    }
    .uploading-btns{
        border-right: none;
    }
    .see-more-adm{
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        background-color: grey;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }
</style>


<div class="adminOrders">
    <div class="cartHead">My orders</div>
    <h6>Welcome to the Dream Portrait upload form:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
        <div>
            <button id="active-adm" class="admin-headers-for-items" onclick="showActive()">Active</button>
            <button id="completed-adm" class="admin-headers-for-items" onclick="showCompleted()">Completed</button>
        </div>
        <hr style="margin-bottom: 10px; border:.5px solid black">
    <div class="ordersContent">
        <div class="admin-orders-items">
            <h6 class="admin-headers-for-items">{NAME}</h6>
            <h6 class="admin-headers-for-items">GIG</h6>
            <h6 class="admin-headers-for-items">NOTES</h6>
            <h6 class="admin-headers-for-items">TOTAL</h6>
            <h6 class="admin-headers-for-items">DATE</h6>
            <h6 class="admin-headers-for-items">STATUS</h6>
        </div>
        <div class="active-items">
        {{# each orders }}
            <div class="orderDetailsInProgress">
                <div class="client-name-item-adm adm-order-item">
                     <a style=" background-color: orange; padding: 5px; margin:5px;" type="button" download="{{ this.wishesText }}.jpeg" href="{{ this.imagePath }}">Download</a>
                     {name}
                </div>

                <div class="gig-item adm-order-item">
                    <div class="numberOfPeopleOrder">Number of people:  {{ selectedPeople }}</b></div>
                    <div class="backgroundOrder">Background: {{ this.selectedBakcground }}</div>
                </div>

                <div id="see-more-notes" class="note-item-adm adm-order-item">{{ this.wishesText }}
                    <button id="see-more-wish" class="see-more-adm" onclick="toggleText()">+</button></div>
                <div class="total-item-adm adm-order-item">Price: {{ this.price }}<b></b></div>
                <div class="date-active-order-adm adm-order-item" id="date">Date: {{ artImageCreatedAt }}</div>
                <div class="uploading-btns adm-order-item">
                    <input style=" background-color: #000; color: white" class="image-uploader" data-id="{{ this.id }}" type="file" value="upload"> 
                </div>
            </div>
        {{/each}}
    </div>
    </div>
</div>



<script>
    // var active = document.getElementById("active-adm");
    var completed = document.getElementsByClassName("active-items")[0];

function showActive() {
    completed.style.display = 'block';
}
function showCompleted() {
    completed.style.display = 'none';
}

</script>


        <script>
            var uploadButtons = document.getElementsByClassName("image-uploader");

            for (var button of uploadButtons) {
                button.addEventListener("change", function(event) {
                    var files = event.target.files;
                    var id = event.target.getAttribute('data-id');

                    if (files.length) {
                        var fileReader = new FileReader();

                        fileReader.onload = function(fileLoadedEvent) {
                            var srcData = fileLoadedEvent.target.result;
                            image = srcData;

                            fetch('/admin-page/upload-art-image', {
                                method: 'post',
                                headers: {
                                  'Content-Type': 'application/json;charset=utf-8'
                                },
                                body: JSON.stringify({
                                    image: image,
                                    id: id,
                                    uploadedAt: new Date().toString()
                                })
                            })
                            .then(res => res.json())
                            .then(res => {
                                console.log(res)
                            })
                            .catch(err => {
                                //TODO: check for a ponential errors
                            });
                        }

                        fileReader.readAsDataURL(files[0]);
                    }

                }, false);
            }
        </script>
    </div>

</div>
<hr style="margin-bottom: 10px; border:.5px solid black">
<div class="adminPanel" style="display: flex;">
    <form action="" style="width: 310px;  margin: 50px;">
        <h6>Welcome to the Dream Portrait price changing:</h6>
        <hr style="margin-bottom: 10px; border:.5px solid black">
        <div class="peoplePriceQty" style="display: flex; justify-content: space-between;">
            <div style="width: 150px;">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 1</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 2</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 3</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 4</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 5</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div style="width: 150px">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 6</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 7</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 8</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 9</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">qty 10</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price custom bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Price simple bacground $</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="button" class="btn btn-dark">Save changing</button>
    </form>
</div>
<hr style="margin-bottom: 10px; border:.5px solid black">


<script type="text/javascript">
    var status = "less";

function toggleText() {
    var text="Here is some text";

    if (status == "less") {
        document.getElementById("see-more-notes").innerHTML=text;
        document.getElementById("see-more-wish").innerText = "-";
 status = "more";
    } else if (status == "more") {
        document.getElementById("see-more-notes").innerHTML = "";
        document.getElementById("see-more-wish").innerText = "+";
        status = "less"
    }
}
</script>
