<div class="accountContent">
    <div class="userManagement">
        <div class="user-name" style="padding: 0 20px">
            <div id="name"></div>
            <h4 style="text-align:center">My account</h4>
            <h5 style="text-align:center">Menage account</h5>
        </div>
        <div class="menage-nav">
            <div><a class="change-password">Change password</a></div>
            <div><a href="/user/profile" class="my-orders">My orders</a></div>
            <div><a href="/user/logout" class="sign-out">Sign out</a></div>
        </div>
    </div>
    <div class="ordersQty" style="margin-bottom:300px">
        <div class="cartHead">My orders</div>
        {{# each orders}}
        <div class="orderDetailsInProgress">
            <div class="orderPhoto">
                <img src="{{ this.imageMiniPath }}">
                <img src="{{ this.artImage }}">
            </div>
            <div class="details">
                {{#if artImage}}
                <div id="date">Date: {{ artImageCreatedAt }}</div>
                {{/if}}
                <div class="numberOfPeopleOrder">Number of people: {{ selectedPeople }}</b></div>
                <div class="backgroundOrder">Background: {{ this.selectedBakcground }}</div>
                <div class="noteOrder">Note: {{ this.wishesText }}</div>
                <div class="priceOrder">Price: {{ this.price }}<b></b></div>
            </div>
            <div class="description" style=" display: flex; text-align: center;">
                {{#if artImage}}
                <!-- Done!<br> -->
                <div>
                    {{#if artImage}}
                    <!-- <div>
                        <button style="width: 100%; margin-bottom: 5px" onclick="updateEditingCommentId('{{this.id}}')" type="button" class="full-btn" data-toggle="modal" data-target="#exampleModal">
                            Leave comment
                        </button>
                    </div> -->
                    <div>
                        <a style=" width: 100%; font-size: 30px; color: #000; font-family: Arial; text-decoration: none" download="{{ this.wishesText }}.jpeg" href="{{ this.artImage }}"><i style="color: #4FC478" class="fa fa-download" aria-hidden="true"></i><br>
                            <p>Click to upload your portrait</p>
                        </a>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <div style=" font-family: Arial; font-size: 14px; color: grey">
                <p style="color: red">In progress!</p>
                Estimated delivery date:<br>
                3-5 days<br><br>
                <p style=" color: #000">
                Your Portrait will be available<br>
                for downloading here
            </p>
            </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
        <!-- Comment -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Leave Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea id="comment-text" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="close-comment-window" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="sendComment()">Leave a comment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var editingCommentId = 0;

var updateEditingCommentId = id => {
    editingCommentId = id;
};

var sendComment = () => {
    const commentTextElement = document.getElementById('comment-text');

    fetch('/reviews-page/submit', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                id: editingCommentId,
                comment: commentTextElement.value
            })
        })
        .then(res => res.json())
        .then(res => {
            document.getElementById('close-comment-window').click();
        });
};
</script>