<div style="width: 100%; display: flex;">
<div class="account-content">
    <div class="user-management">
        <div class="user-name" style="padding: 0 20px">
            <div id="name"></div>
            <h4 style="text-align:center">{{firstName}} {{lastName}}</h4>
            <hr>
        </div>
        <div class="menage-nav">
            <div><a class="change-password">Change password</a></div>
            <div><a href="/user/logout" class="sign-out">Sign out</a></div>
        </div>
    </div>
    
    <div class="ordersQty" style="margin-bottom:300px">
        <div class="cartHead">My orders</div>
        <div class="empty-page">
            <h2 style="margin-bottom: 25px">Don't have any orders yet.</h2>
            <a type="button" href="/order-page" class="getHome">Get my Cartoon! ➜</a>
        </div>
        {{# each orders}}
        <div class="orderDetailsInProgress">
            <div class="orderPhoto">
                <img src="{{ this.imageMiniPath }}">
                <img src="{{ this.artImage }}">
            </div>
            <div class="details">
                {{#if artImage}}
                <div id="date">Date: {{ artImageCreatedAt }}</div>
                {{/if}}
                <div class="numberOfPeopleOrder">Number of people: {{ selectedPeople }}</b></div>
                <div class="backgroundOrder">Background: {{ this.selectedBakcground }}</div>
                <div class="noteOrder">Note: {{ this.wishesText }}</div>
                <div class="priceOrder">Price: ${{ this.price }}USD<b></b></div>
            </div>
            <div class="description" style=" display: flex; text-align: center;">
                {{#if artImage}}
                <!-- Done!<br> -->
                <div>
                    {{#if artImage}}
                    <div>
                        <a style=" width: 100%; font-size: 30px; color: #000; font-family: Arial; text-decoration: none" download="{{ this.wishesText }}.jpeg" href="{{ this.artImage }}"><i style="color: #4FC478" class="fa fa-download" aria-hidden="true"></i><br>
                            <p>Click to upload your portrait</p>
                        </a>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <div style=" font-family: Arial; font-size: 14px; color: grey">
                <p style="color: #F07F00">In progress!</p>
                Estimated delivery time:<br>
                3-5 days<br><br>
                <p style=" color: #000">
                Your Portrait will be available<br>
                for downloading here
            </p>
            </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
<script>
var editingCommentId = 0;

var updateEditingCommentId = id => {
    editingCommentId = id;
};

var sendComment = () => {
    const commentTextElement = document.getElementById('comment-text');

    fetch('/reviews-page/submit', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                id: editingCommentId,
                comment: commentTextElement.value
            })
        })
        .then(res => res.json())
        .then(res => {
            document.getElementById('close-comment-window').click();
        });
};
</script>