<div class="home-page">
    <div class="wrap-item1">
        <div class="main-img-div" onload="imgLoaded(this)" />
        <img class="main-img" data-src="/images/1366-home-image.jpg" src="/images/small_home.jpg" alt="Main image">
        <img class="small-main-img" src="/images/768-home-image-phone-fin.jpg">
    </div>
</div>
<div class="background-white">
    <div class="container text-center center-content">
        <a href="/order-page/" class="btn btn-primary btn-lg get-cartoon-btn">GET MY CARTOON</a>

        <!-- EXAMPLE 1 -->
        <div class="row show-tablet-example">
            <div class="col-lg-6 col-md-12 text-example example-left no-top-margin">
                <h1>DREAM PORTRAIT
                    ORIGINAL ART</h1>
                <br>
                <h3>Searching for a way to turn your favorite
                    photos into a unique, dream-like
                    masterpiece? Look no further than our
                    <strong>Dream Portrait Original Art</strong>, the service
                    that turns your regular headshot into a
                    personalized portrait with a cartoon art
                    style, just like your favorite <strong>Fairy Tale
                        Cartoons!</strong> </h3>
            </div>
            
            <div class="col-lg-6 col-md-12 image-example">
                <img src="/images/example-image-1.png" alt="e.g. 1">
            </div>
        </div>

        <!-- EXAMPLE 2 -->
        <div class="row hide-mobile-example hide-tablet margin-top-bottom">
            <div class="col-lg-6 col-md-12 image-example order-xs-2">
                <img src="/images/example-image-2.jpg" alt="e.g. 2">
            </div>
            <div class="col-lg-6 col-md-12 text-example example-right order-xs-1">
                <h1>PREMIUM ART</h1>
                <br>
                <h3>All our designs are <strong>100% hand-drawn</strong>
                    byreal  artists created with care and
                    incredible accuracy. No gimmicks or
                    special effects. <strong>Just skilled artistry
                        that will capture  every detail!</strong></h3>
            </div>
        </div>

        <div class="row show-mobile show-tablet-example">
            <div class="col-lg-6 col-md-12 text-example example-right order-xs-1">
                <h1>PREMIUM ART</h1>
                <br>
                <h3>All our designs are <strong>100% hand-drawn</strong>
                    byreal  artists created with care and
                    incredible accuracy. No gimmicks or
                    special effects. <strong>Just skilled artistry
                        that will capture  every detail!</strong></h3>
            </div>
            
            <div class="col-lg-6 col-md-12 image-example order-xs-2">
                <img src="/images/example-image-2.jpg" alt="e.g. 2">
            </div>
        </div>

        <!-- EXAMPLE 3 -->
        <div class="row show-tablet-example">
            <div class="col-lg-6 col-md-12 text-example example-left">
                <h1>CHOOSE FROM DIGITAL OR PRINT</h1>
                <br>
                <h3>Just input your email address for a digital
                    copy or you can choose a <strong>high-quality print
                        on canvas</strong> so that you can display it as
                    a decor in your house! </h3>
            </div>
            
            <div class="col-lg-6 col-md-12 image-example">
                <img src="/images/example-image-3.png" alt="e.g. 3">
            </div>
        </div>
    </div>

    <!-- VIDEO DEMO SECTION -->
    <div class="demo-parent hide-mobile margin-top-bottom">
        <img src="/images/demo-background.jpg" alt="demobackground" class="demo-background-image">
        <div class="text-wrapper"><h1>SEE THE VIDEO ON HOW WE CREATE YOUR ART!</h1></div>
        <iframe class="video-demo" src="https://www.youtube.com/embed/TLtnyamAJbc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-demo-mobile show-mobile-flex margin-top-bottom">
        <h1 class="center-text text-size-26 text-bold">SEE THE VIDEO ON HOW WE CREATE YOUR ART!</h1>
        <iframe class="video-demo-iframe-mobile" src="https://www.youtube.com/embed/TLtnyamAJbc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- EXAMPLE 4 -->
    <div class="container flex-bottom">
        <div class="row hide-mobile-example hide-tablet">
            <div class="col-lg-6 col-md-12 image-example order-xs-2">
                <img src="/images/example-image-4.jpg" alt="e.g. 2">
            </div>
            <div class="col-lg-6 col-md-12 text-example example-right-small-padding order-xs-1">
                <h1 class="center-text">OUR PORTRAITS <br> NEVER FAIL TO IMPRESS</h1>
                <br>
                <h3 class="center-text">Watch your friends and family react
                    with delight as you unveil your new
                    masterwork.</h3>
            </div>
        </div>
        <div class="row show-mobile show-tablet-example">
            <div class="col-lg-6 col-md-12 text-example example-right order-xs-1 no-top-margin">
                <h1 class="center-text">OUR PORTRAITS <br> NEVER FAIL TO IMPRESS</h1>
                <br>
                <h3 class="center-text">Watch your friends and family react
                    with delight as you unveil your new
                    masterwork.</h3>
            </div>
            
            <div class="col-lg-6 col-md-12 image-example order-xs-2">
                <img src="/images/example-image-4.jpg" alt="e.g. 2">
            </div>
        </div>
        <br>
        <br>
        <h1 class="center-text text-bold text-size-26-mobile">ORDER TODAY TO MAKE YOUR FAVOURITE <br>PHOTOS INTO A UNIQUE CARTOON GEM!</h1>
        <a href="/order-page/" class="btn btn-primary btn-lg get-cartoon-btn margin-top-bottom">GET MY CARTOON</a>
    </div>
</div>

<br>



<div class="reviewsContent">
    <h2 class="title-hellofreeday text-center">HAPPY CUSTOMERS</h2>
    <div class="rating-sum my-2 d-flex justify-content-center align-items-center">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <span class="reviews-qty">{{ reviewsCount }} reviews</span>
    </div>
    <div class="reviews">
        <div class="reviewsAdmin">
            {{#each products}}
            <div class="card" style="max-width: 340px; padding: 10px">
                <img src="{{artImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <div>
                        {{#each comment.rating}}
                        {{# if this }}
                        <img class="star-rating" src="/images/filled_star.png" alt="">
                        {{else}}
                        <img class="star-rating" src="/images/empty_star.png" alt="">
                        {{/ if }}
                        {{/each}}
                    </div>
                    <p class="card-text">{{comment.comment}}</p>
                </div>
            </div>
            {{/each}}

            {{> reviews_block }}
        </div>
    </div>
</div>
<script>
(() => {
    // Page is loaded
    const objects = document.getElementsByClassName('main-img');
    Array.from(objects).map((item) => {
        // Start loading image
        const img = new Image();
        img.src = item.dataset.src;

        // Once image is loaded replace the src of the HTML element
        img.onload = () => {
            // item.classList.remove('img_home');
            return item.nodeName === 'IMG' ?
                item.src = item.dataset.src :
                item.style.backgroundImage = `url(${item.dataset.src})`;
        };
    });
})();

(() => {
    //Init blueimp gallery
    document.getElementById('demo-images').onclick = function (event) {
        event = event || window.event
        var target = event.target || event.srcElement
        var link = target.src ? target.parentNode : target
        var options = { index: link, event: event }
        var links = this.getElementsByTagName('a')
        blueimp.Gallery(links, options)
    }
})();
</script>
