<div class="home-page">
    <div class="wrap-item1">
        <div class="main-img-div" onload="imgLoaded(this)" />
        <img class="main-img" data-src="/images/1366-home-image.jpg" src="/images/small_home.jpg" alt="Main image">
        <img class="small-main-img" src="/images/768-home-image-phone-fin.jpg">
    </div>
    <div class="hide-mobile">
        <a class="primary-btn1" href="/order-page/">GET MY CARTOON</a>
    </div>
</div>
<div class="wrap-item2">
    <div class="show-mobile my-3">
        <a class="btn btn-primary btn-lg get-cartoon-btn" href="/order-page/">GET MY CARTOON</a>
    </div>
    <h2 class="title my-3"> HOW IT WORKS?</h2>
    <div class="wrap-item-icons">
        <div class="wrap-item-icon icon1">
            <h>1</h><br> UPLOAD<br> YOUR PHOTO<br>
            <img src="/images/uploadYourPhoto.png">
        </div>
        <div class="wrap-item-icon icon2">
            <h>2</h><br> OUR ARTISTS CREATE<br> YOUR DREAM PORTRAIT<br>
            <img src="/images/creatingArt.png">
        </div>
        <div class="wrap-item-icon icon3">
            <h>3</h><br> WE SEND YOU YOUR<br> PORTRAIT<br>
            <img src="/images/sendingArt.png">
        </div>
        <hr>
    </div>
    <div class="description">
        <p>
            All we need is a clear picture.<br><br>
            Each design is <b>100% hand-draw</b> by a real artist<br>
            using a digital tablet. No gimmick or special effects - <br>
            <b>just skilled artistry that will capture every detail.</b><br><br>
            You will receive <b>a downloadable JPEG file</b> that can<br>
            be used <b>digitally</b> or for <b>high-quality print.</b>
        </p>
    </div>
    <a href="/order-page/" class="btn btn-primary btn-lg get-cartoon-btn my-3">GET MY CARTOON</a>
</div>
<div class="reviewsContent">
    <h2 class="title-hellofreeday text-center">HAPPY CUSTOMERS</h2>
    <div class="rating-sum my-2 d-flex justify-content-center align-items-center">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <img class="star-rating" src="/images/filled_star.png" alt="">
        <span class="reviews-qty">{{ reviewsCount }} reviews</span>
    </div>
    <div class="reviews">
        <div class="reviewsAdmin">
            {{#each products}}
            <div class="card" style="max-width: 340px; padding: 10px">
                <img src="{{artImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <div>
                        {{#each comment.rating}}
                        {{# if this }}
                        <img class="star-rating" src="/images/filled_star.png" alt="">
                        {{else}}
                        <img class="star-rating" src="/images/empty_star.png" alt="">
                        {{/ if }}
                        {{/each}}
                    </div>
                    <p class="card-text">{{comment.comment}}</p>
                </div>
            </div>
            {{/each}}

            {{> reviews_block }}
        </div>
    </div>
</div>
<script>
(() => {
    // Page is loaded
    const objects = document.getElementsByClassName('main-img');
    Array.from(objects).map((item) => {
        // Start loading image
        const img = new Image();
        img.src = item.dataset.src;

        // Once image is loaded replace the src of the HTML element
        img.onload = () => {
            // item.classList.remove('img_home');
            return item.nodeName === 'IMG' ?
                item.src = item.dataset.src :
                item.style.backgroundImage = `url(${item.dataset.src})`;
        };
    });
})();
</script>
