<div class="reviewsContent">
    <div class="reviews">
        <div class="reviewsAdmin">
            <h2>
                HERE YOU CAN READ SOME REVIEWS FROM OUR CUSTOMERS
            </h2>
            <hr>
            {{#each products}}
            <div class="card">
                <img src="{{artImage}}" class="card-img-top" alt="Review Art Image">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <div>
                        {{#each comment.rating}}
                        {{# if this }}
                        <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        {{else}}
                        <img class="star-rating" src="/images/empty_star.png" alt="Review Rating ating star">
                        {{/ if }}
                        {{/each}}
                    </div>
                    <p class="card-text">{{comment.comment}}</p>
                </div>
                {{# if ../isAdmin }}
                <form action="/reviews-page/hide" method="POST">
                    <input type="hidden" name="productId" value="{{id}}">
                    <button type="submit" class="dell-review-btn">Hide</button>
                </form>
                {{/ if }}
            </div>
            {{/each}}

            {{> reviews_block }}
        </div>
    </div>
</div>


<div class="heelo">
    <div>

    </div>
</div>
