<div class="reviewsContent">
    <div class="reviews">
        <div class="reviewsAdmin">
            <div class="reviewsHeader">
                HERE YOU CAN READ SOME REVIEWS FORM OUR CUSTOMER
            </div>
            <hr>
            {{#each products}}
            <div class="card">
                <img src="{{artImage}}" class="card-img-top" alt="Review Art Image">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <div>
                        {{#each comment.rating}}
                        {{# if this }}
                        <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        {{else}}
                        <img class="star-rating" src="/images/empty_star.png" alt="Review Rating ating star">
                        {{/ if }}
                        {{/each}}
                    </div>
                    <p class="card-text">{{comment.comment}}</p>
                </div>
                {{# if ../isAdmin }}
                <form action="/reviews-page/hide" method="POST">
                    <input type="hidden" name="productId" value="{{id}}">
                    <button type="submit" class="dell-review-btn">Hide</button>
                </form>
                {{/ if }}
            </div>
            {{/each}}
            <div class="review-column">
                <div class="card">
                    <img src="/images/20.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Bella</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">We absolutely Love the art work! Just beautiful! Thank you!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/19.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Theresa</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Perfecttttt!!!!!!! OMG i'm so happy thanks Dream Portrait!!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/18.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Isabelle</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Wedding day</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/17.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Charlotte</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">I absolutely love my picture everything turned out perfect!!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/16.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Dagmara</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">This looks amazing! Got so many compliments. Will shop again and show friends</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/15.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Nick</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Very easy process, the team were more than happy to make the changes I requested after receiving the first image (for free). Excellent communication & the final product is amazing. I would definitely recommend!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="review-column">
                <div class="card">
                    <img src="/images/14.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Joe</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">I just Love itReview Art Image the artist did a great job capturing Ruby's personality (or rather purrsonality) Thank you.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/13.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Kelsey</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">OMG!!!I love it!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/12.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Sara</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Absolutely perfect. Worth every penny</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/11.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Jenny</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">By far the most unique gift I have ever given someone, thanks Dream Portrait</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/10.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Liam</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Excellent work! Done in a timely fashion.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/9.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Nicole</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Thanks i realy love this Portrait guys!</p>
                    </div>
                </div>
            </div>
            <div class="review-column">
                <div class="card">
                    <img src="/images/8.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Annah</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Too beautiful thanks a lot Dream Portrait!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/7.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Tasha</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">ABSOLUTELY IN LOVE WITH MY PORTRAIT. I got this for myself for my birthday and I am obsessed.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/6.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Christine</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">my family is like real, amazing work!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/5.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Elisa</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Absolutely stunning!! Requested this to be made for my boyfriend as a gift of us as a couple for his birthday and he LOVES it!! So magical every time I look at it! Thank you so much! :)</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/4.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Gabriel</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Wonderful experience. Did 2 revisions until it was just perfect. Definitely would do this again. Thank you</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/3.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Mike</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">A dream for my family! thank you guys!</p>
                    </div>
                </div>
            </div>
            <div class="review-column">
                <div class="card">
                    <img src="/images/2.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Karen</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">Really pleased with outcome, thanks Dream Portrait, will definetly get another one for my best friend!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/1.jpg" class="card-img-top" alt="Review Art Image">
                    <div class="card-body">
                        <h5 class="card-title">Mia</h5>
                        <div>
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                            <img class="star-rating" src="/images/filled_star.png" alt="Review Rating ating star">
                        </div>
                        <p class="card-text">The picture was super cute! The style was phenomenal and it made for a fantastic birthday present for my husband! It's such a unique gift to be able to give to someone and I couldn't be happier with it! Thanks dream portrait</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>